name: Python Poetry Workflow

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            -   name: Check out repository
                uses: actions/checkout@v5
            -   name: Set up python
                id: setup-python
                uses: actions/setup-python@v6
                with:
                    python-version: '3.12.3'
            -   name: Install Poetry
                uses: snok/install-poetry@v1
                with:
                    virtualenvs-create: true
                    virtualenvs-in-project: true
                    virtualenvs-path: .venv
                    installer-parallel: true

            -   name: Install dependencies
                run: poetry install --no-interaction --no-root
            -   name: Install project
                run: poetry install --no-interaction
            -   name: Run tests
                run: |
                    poetry run coverage run -m pytest
                    poetry run coverage report -m
                    poetry run coverage-badge -f -o coverage.svg
            
            -   name: Commit and push badge
                run: |
                    git config --local user.email "bot@github.com"
                    git config --local user.name "Action Github"

                    git add -f coverage.svg
                    git commit -m "Update badge coverage [skip ci]"
                    git push origin main
            